/*
	Project: fBootstrap
	Author: David Collins-Cubitt
	Date: August 2022
*/

body {
	font-family: sans, helvetica, arial;
	font-size: 12pt;

	color: #000000;
	background-color: #ffffff;

}

h1 {
	font-size: 30pt;
	font-weight: bold;
}

h2 {
	font-size: 25pt;
	font-weight: bold;
}

h3 {
	font-size: 20pt;
	font-weight: bold;
}

h4 {
	font-size: 15pt;
	font-weight: bold;
}
